.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-size: cover;
    background-position: center;
    height: 85vh;
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 70vh;
    }

    .hero__heading {
        max-width: 90%;
    }
}
