.filter {
    min-width: 320px;
    padding: 1.5rem;
    overflow: auto;
}

.filter__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__toggle {
    display: none;
}

.filter__clear {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

.filter__price-slider {
    width: 100%;
}

.price-steps {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    width: 100%;
}

.filter__category,
.filter__rating,
.filter__sort {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .filter {
        font-size: 75%;
        width: 100%;
        align-items: start;
        border-right: none;
        padding: 0.5rem 1.5rem;
        border-bottom: 2px solid var(--color-secondary-light);
        overflow: unset;
    }

    .filter-body {
        display: none;
    }
    .filter-body.show-filter {
        display: block;
    }

    .filter__toggle {
        display: block;
    }
}
